<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
    <title>Formulaire de merde</title>
</head>
<body>
    <form action="http://127.0.0.1:8000/user/create" method="post">
        <label for="identifiant">Identifiant :</label>
        <input type="text" id="identifiant" name="identifiant"><br><br>

        <label for="mot_de_passe">Mot de passe :</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="description">Description :</label><br>
        <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

        <label for="age">Âge :</label>
        <input type="number" id="age" name="age"><br><br>

        <input type="submit" value="Envoyer">
    </form>
</body>
</html>

</body>
</html>